@model MVC.Models.Registrado

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-signin" }))
{
    <h2>Login</h2>
    <label class="sr-only">Email</label>
    @Html.TextBox("InputMail", null, new { @class = "form-control", @placeHolder = "Mail" })
    <label class="sr-only">Password</label>
    @Html.TextBox("InputPass", null, new { @class = "form-control", @placeHolder = "Password", @type = "password" })
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <input type="submit" class="btn btn-default" value="Login" />

}